{% extends "layout.html" %}
{% block body %}
    <h2>Login</h2>
    {% if error %}<p class="error"><strong>Error: </strong>{{ error }}</p>{% endif %}
    <div class="main">
      <div class="row1">
        <div class="card">
          <form action="{{ url_for('login') }}" method="post">
            <fieldset class="textfields">

              <label for="id_username">Username:</label>
      				<input id="id_username" name="username" type="text" placeholder="@yourusername" pattern="@[A-Za-z0-9]+" required><div><span>Starts with an @ sign</span></div>

              <label for="id_password">Password:</label>
      				<input id="id_password" name="password" type="password" placeholder="Required" required><div><span>Required</span></div>
            </fieldset>
            <fieldset class="submit">
              <input type="submit" value="Login"></input>
            </fieldset>

          </form>
        </div>
      </div>
    </div>




{% endblock %}
